@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme tokens */
@theme {
  /* Foundation Orange */
  --orange-light: #fff1e6;
  --orange-light-hover: #ffe9d9;
  --orange-light-active: #fed2b0;
  --orange-normal: #fd6f00;
  --orange-normal-hover: #e46400;
  --orange-normal-active: #ca5900;
  --orange-dark: #be5300;
  --orange-dark-hover: #984300;
  --orange-dark-active: #723200;
  --orange-darker: #592700;

  /* Foundation Black */
  --black-light: #e6e6e6;
  --black-light-hover: #d9d9d9;
  --black-light-active: #b0b0b0;
  --black-normal: #000000;
  --black-normal-hover: #000000;
  --black-normal-active: #000000;
  --black-dark: #000000;
  --black-dark-hover: #000000;
  --black-dark-active: #000000;
  --black-darker: #000000;

  /* Foundation White */
  --white-light: #fefefe;
  --white-light-hover: #fefefe;
  --white-light-active: #fdfdfd;
  --white-normal: #f8f8f8;
  --white-normal-hover: #dfdfdf;
  --white-normal-active: #c6c6c6;
  --white-dark: #bababa;
  --white-dark-hover: #959595;
  --white-dark-active: #707070;
  --white-darker: #575757;

  /* Foundation Grey */
  --grey-light: #e9e9e9;
  --grey-light-hover: #dddddd;
  --grey-light-active: #b9b9b9;
  --grey-normal: #1e1e1e;
  --grey-normal-hover: #1b1b1b;
  --grey-normal-active: #181818;
  --grey-dark: #171717;
  --grey-dark-hover: #121212;
  --grey-dark-active: #0d0d0d;
  --grey-darker: #0b0b0b;

  /*Additional*/
  --dark-grey: #ffffff0a;
  --bg-primary: linear-gradient(
    94deg,
    rgba(253, 111, 0, 1) 0%,
    rgba(228, 100, 0, 1) 100%
  );
  --color-black: #000;
  --color-white: #fefefe;
  --color-primary: #fd6f00;
  --color-dark-hover: #959595;
  --color-dark-hover-bg: #ffffffba;
}

/* Utilities */
@layer utilities {
  .font-base {
    font-family: var(--font-base);
  }
  .bg-primary {
    background-image: var(--bg-primary);
  }
  .text-primary {
    color: var(--color-primary);
  }
  #storybook-root .sb-top-center {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 24px;
  }
  .tabs-comp .button-comp .btn-text {
    color: var(--white-normal-active);
  }
  .tabs-comp .button-comp.is-active .btn-text {
    color: #fff;
  }
}

@layer base {
  /* Input Comp */
  .input-comp.MuiFormControl-root {
    @apply rounded-lg bg-[#ffffff26];
  }

  .input-comp .MuiFormLabel-root {
    @apply !text-[var(--white-dark-hover)] !left-[0.3125rem] !top-[0.3125rem];
  }

  .input-comp .MuiInputLabel-shrink {
    transform: unset !important;
    @apply !left-[0.625rem]
      !top-0
      !translate-x-[0.75rem]
      !-translate-y-[0.5625rem]
      !scale-[0.75];
  }

  .input-comp .MuiInputBase-root fieldset {
    @apply !p-0;
  }

  .input-comp .MuiInputBase-root fieldset legend {
    @apply ml-[1.2rem];
  }

  .input-comp .MuiInputBase-root fieldset legend span {
    @apply !px-[0.1875rem];
  }

  .input-comp .MuiInputBase-input {
    @apply !px-[1.375rem]
      !py-[0.875rem]
      !h-[unset]
      !text-[var(--white-dark-hover)];
  }

  /* Select Comp */

  .select-comp.MuiFormControl-root {
    @apply rounded-lg bg-[#ffffff26];
  }

  /* Label default */
  .select-comp .MuiFormLabel-root {
    @apply !text-[var(--white-dark-hover)] !left-[0.3125rem] !top-[0.3125rem];
  }

  /* Label shrink */
  .select-comp .MuiInputLabel-shrink {
    transform: unset !important;
    @apply !left-[0.625rem]
      !top-0
      !translate-x-[0.75rem]
      !-translate-y-[0.5625rem]
      !scale-[0.75];
  }

  .select-comp .MuiInputBase-root fieldset {
    @apply !p-0;
  }

  .select-comp .MuiInputBase-root .MuiSelect-icon path {
    @apply !fill-[var(--white-dark)];
  }

  .select-comp .MuiInputBase-root fieldset legend {
    @apply ml-[1.2rem];
  }

  .select-comp .MuiInputBase-root fieldset legend span {
    @apply !px-[0.1875rem];
  }

  .select-comp .MuiInputBase-input {
    @apply !px-[1.375rem]
      !py-[0.875rem]
      !h-[unset]
      !text-[var(--white-dark-hover)];
  }
  .select-menu-dropdown {
    @apply rounded-lg !bg-[#ffffff0a];
  }
  .select-menu-dropdown ul li {
    @apply !text-[var(--white-dark)] transform-gpu will-change-transform !pl-[22px] !pr-[22px];
  }
  .select-menu-dropdown ul li.Mui-selected {
    @apply !bg-[#1976d2]/[0.93];
  }

  /* Landing Page */
  .landing-page .header .button-comp .btn-text {
    @apply !text-sm xl:!text-base;
    line-height: normal !important;
  }

  .landing-page .body .profile .profile__left .button-comp svg path {
    @apply !fill-[var(--white-dark)];
  }
  .landing-page .body .profile .profile__left .button-comp .btn-text {
    @apply !text-sm xl:!text-base;
    line-height: normal !important;
  }

  .landing-page .body .service svg path {
    @apply !fill-[var(--orange-normal)];
    font-variation-settings: "FILL" 1;
  }

  .landing-page
    .body
    .about
    .about__content
    .about__content__right
    .button-comp
    .btn-text {
    line-height: normal !important;
  }
  .landing-page .contact .button-comp .btn-text {
    @apply !text-[1rem];
    line-height: normal !important;
  }
  .landing-page .footer .button-comp svg path {
    @apply !fill-[var(--white-dark)];
  }

  .landing-page .tabs-comp .button-comp {
    @apply !gap-2.5
       !py-3 !px-8
       xl:!px-10;
  }
}
