.docs-story:has(.progress-bar-comp),
#storybook-root:has(.progress-bar-comp) {
  background-color: #000;
  width: 100%;
}

.docs-story:has(.tabs-comp),
#storybook-root:has(.tabs-comp) {
  background-color: #000;
  width: 100%;
}

 