// @layer base {
//   .input-comp {
//     .MuiFormControl-root {
//       @apply rounded-lg bg-[#ffffff26];
//     }

//     .MuiFormLabel-root {
//       @apply !text-[var(--white-dark)] !left-[0.3125rem] !top-[0.3125rem];
//     }

//     .MuiInputLabel-shrink {
//       transform: unset !important;
//       @apply
//         !left-[0.625rem]
//         !top-0
//         !translate-x-[0.75rem]
//         !-translate-y-[0.5625rem]
//         !scale-[0.75];
//     }

//     .MuiInputBase-root {
//       fieldset {
//         @apply !p-0;

//         legend {
//           @apply ml-[1.2rem];

//           span {
//             @apply !px-[0.1875rem];
//           }
//         }
//       }
//     }

//     .MuiInputBase-input {
//       @apply
//         !px-[1.375rem]
//         !py-[0.875rem]
//         !h-[unset]
//         !text-[var(--white-dark)];
//     }
//   }
// }
